*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --calmBlue: #005b96;
  --white: #ffffff;
  --black: #000000;
}

/* Removing default margins and padding */
html,
body {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.navBarContainer {
  height: 90px;
  background-color: #005b96;
  display: flex;
  justify-content: space-between;
}

.navBarContainer h1 {
  margin: 20px 40px 20px 20px;
  padding: 0 1rem 0 1rem;
  border-radius: 3px;
  align-self: center;
  border: 3px solid var(--white);
  color: white;
  font-size: 40px;
  font-family: "Courier New", Courier, monospace;
}

.nav-links {
  display: flex;
  align-self: center;
}

.nav-links li {
  list-style: none;
}

.nav-links li a {
  text-decoration: none;
  align-self: right;
  border: 2px solid transparent;
  margin: 10px 20px;
  padding: 0.5rem 1rem 0.5rem 1rem;
  color: white;
  font-size: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.nav-links li a:hover {
  border: 2px solid var(--white);
  border-radius: 3px;
}

.nav-link-on {
  border: 2px solid var(--white);
  border-radius: 3px;
}

.typeWrtier {
  display: Flex;
  justify-content: center;
  align-content: center;
  height: 70px;
  background-color: #005b96;
}

.typeWrtier :only-child {
  font-size: 40px;
  margin: 5px;
  color: var(--white);
}

.about-me {
  display: flex;
  text-align: center;
  margin: auto;
  padding: 60px;
  width: 80%;
}

/* P styling */

.about-me div {
  flex-direction: column;
  align-self: center;
}

.about-me-p {
  text-align: center;
  font-size: 15px;
  margin: auto;
  padding: 1rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande";
}

.portrait {
  height: 600px;
  border-radius: 50px;
  margin-right: 50px;
}

.work-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
.work-container div {
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  margin: 50px 5px;
  width: 45%;
  border: 2px solid var(--calmBlue);
  border-radius: 15px;
}

.work-container div h3,
.work-container div p {
  text-align: center;
}

.work-container div :nth-child(2) {
  /* width: 80%; */
  text-align: center;
}

.work-container div p a {
  color: black;
  padding: 3px 12px;
  border-radius: 3px;
  width: 400px;
  border: 2px solid var(--calmBlue);
}

.work-container div img {
  height: 400px;
  width: 100%;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}

.footer {
  margin-top: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  vertical-align: sub;
  background-color: var(--calmBlue);
}

.footer h2 {
  margin: 20px 40px 20px 40px;
  color: white;
  font-size: 30px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

/* Creating a flex container */
.footer ul {
  display: flex;
}

/* Styling and aligning the list items*/
.footer ul li {
  list-style: none;
  margin: 10px 20px;
}

.footer-li {
  text-decoration: none;
  align-self: right;
  border: 2px solid var(--calmBlue);
  margin: 10px 20px;
  padding: 0.5rem 1rem 0.5rem 1rem;
  color: var(--white);
  font-size: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

/* Hovering over images */
.footer-li:hover {
  border: 2px solid var(--white);
  border-radius: 3px;
}

a {
  text-decoration: none;
}
a {
  color: var(--white);
} /* Unvisited link  */
a:visited {
  color: var(--white);
} /* Visited link    */
a:hover {
  color: var(--white);
} /* Mouse over link */
a:active {
  color: var(--white);
}

footer .contact-me {
  align-items: center;
}

.contactContainer {
  display: block;
}
.contactHeader {
  text-align: center;
}

.formContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.formContainer p {
  font-size: 25px;
}

.formContainer p input {
  padding-left: 10px;
  font-size: 15px;
  margin: 40px;
  height: 40px;
  width: 600px;
  border-radius: 10px;
}
.formContainer button {
  margin: 40px;
  height: 40px;
  width: 600px;
  font-size: 25px;
}

.formContainer textarea {
  font-size: 20px;
  padding-left: 10px;
  height: 400px;
  width: 80%;
  border-radius: 10px;
}
