*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --calmBlue: #005b96;
  --white: #ffffff;
  --black: #000000;
}

/* Removing default margins and padding */
html,
body {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

.navBarContainer {
  height: 70px;
  background-color: #005b96;
  display: flex;
  justify-content: space-between;
}

.navBarContainer h1 {
  margin: 20px 40px 20px 20px;
  padding: 0 1rem 0 1rem;
  border-radius: 3px;
  align-self: center;
  border: 3px solid var(--white);
  color: white;
  font-size: 40px;
  font-family: "Courier New", Courier, monospace;
}

.nav-links {
  display: flex;
  align-self: center;
}

.nav-links li {
  list-style: none;
}

.nav-links li a {
  text-decoration: none;
  align-self: right;
  border: 2px solid transparent;
  margin: 10px 20px;
  padding: 0.5rem 1rem 0.5rem 1rem;
  color: white;
  font-size: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
